/*
 * color and text formatting,
 * kept separate from everything else
 */
body {
	background-color: #000;
}

.koSimpleCalculator .darkGrey {
	color: #111;
	background-color: #aaa;
}

.koSimpleCalculator .lightGrey {
	color: #111;
	background-color: #bbb;
}

.koSimpleCalculator .orange {
	color: #eee;
	background-color: #f80;
}

.koSimpleCalculator .display {
	color: #eee;
	background-color: #444;
	/* text formatting */
	text-align: right;
	font-size: 17vh;
	line-height: 22vh;
}

.koSimpleCalculator .button {
	border: 1px solid #444;
	/* text formatting */
	font-size: 10vh;
	line-height: 17vh;
	text-align: center;
	/* use the little "hand" cursor */
	cursor: pointer;
}

.koSimpleCalculator .footer {
	color: #888;
	background-color: #000;
	/* text formatting */
	text-align: center;
	font-size: 2vh;
	line-height: 4vh;
}

.koSimpleCalculator .footer a {
	color: #888;
}


/*
 * the element containing everything
 */
.koSimpleCalculator {
	/* vh is viewport height, measurement is in percentage
	 * CSS3 CUTTING EDGE ISH, YO!
	 * probably won't work in your grandmother's browser
	 */
	height: 100vh;
	width: 60vh;
	/* center in body */
	margin: 0 auto;
	/* removes the whitespace between button divs. 
	 * "display: inline-block" needs this, otherwise there's a space
	 * between each div, because there's spaces/tabs/etc in the html.
	 */ 
	font-size: 0;
}

.koSimpleCalculator .display {
	/* dimensions of the calculator's display */
	width: 60vh;
	height: 20vh;
}

.koSimpleCalculator .button {
	/* common dimensions and layout for buttons */
	height: 15vh;
	box-sizing: border-box;
	display: inline-block;
}

.koSimpleCalculator .buttonRectangle {
	/* width of rectangular buttons */
	width: 30vh;
}

.koSimpleCalculator .buttonSquare {
	/* width of square buttons */
	width: 15vh;
}

.koSimpleCalculator .footer {
	/* height of footer */
	height: 5vh;
}
